<div class='container-fluid'>
  <div id='jhu-chart'>
    <div class='row top-row'>
      <div class='col-md-3'>
        <section class='chart-sidebar'>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#controls" aria-controls="controls" role="tab" data-toggle="tab">Controls</a></li>
            <li role="presentation"><a href="#help-center" aria-controls="help-center" role="tab" data-toggle="tab">Help Center</a></li>
            <li role="presentation"><a href="#style" aria-controls="style" role="tab" data-toggle="tab">Style</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="controls">
              <%= render partial: 'chart_controls' %>
            </div>
            <div role="tabpanel" class="tab-pane" id="help-center">
              <%= render partial: 'chart_help' %>
            </div>
            <div role="tabpanel" class="tab-pane" id="style">
              <%= render partial: 'chart_style' %>
            </div>
          </div>
        </section>
      </div>
      <div class='col-md-9'>
        <section class='chart-viewport'>
          <div id='chart-container' class='chart-container'>
            <div class='chart-placeholder'>
              <h4>
                <i class='fa fa-bar-chart'></i>
              </h4>
            </div>
            <div class='clearfix'></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
var availableLanguages = <%= @metadata.fetch(:languages, {}).to_json.html_safe %>;
var helpText = <%= @metadata.fetch(:help_text, {}).to_json.html_safe %>;
var labelText = <%= @metadata.fetch(:label_text, {}).to_json.html_safe %>;
var unavailableFilters = <%= @metadata.fetch(:unavailable_filters, {}).to_json.html_safe %>;
var data = <%= @data.to_json.html_safe %>;
var chartContainer = $('#chart-container');

$('.filter').on('change', function() { validateFilters() });
$('.filter.filter-indicators').on('change', function() { displayHelpText() });
$('.filter.filter-disaggregators').on('change', function() { displayHelpText() });
$('.year-check').on('change', function() { toggleCountryHeader($(this)) });
$('#select-all').on('click', function() {selectAll()});
$('#select-latest').on('click', function() {selectLatest()});
$('#clear-all').on('click', function() {clearAll()});
$('.clear-select').on('click', function() {clearSelect($(this))});
$('#dataset-language-picker').on('change', function() {updateLanguage()});
$('.submit-chart').on('click', function() {
  generateChart();
  $('#download-csv').prop('disabled', '');
});
$('#download-csv').on('click', function() { downloadCSV(); });
$('input.color').colorPicker();
$(document).ready(function(){ updateLanguage(); });

$('.collapse').on('show.bs.collapse', function () {
  var checked = $(this).find("[type='checkbox']:checked").length;
  if (checked > 0) { return false; }
  $(this).parent().find(".country-header").find("i").removeClass("fa-plus").addClass("fa-minus");
});

$('.collapse').on('shown.bs.collapse', function () {
  var openItems = $('.collapse.in').length;
  if (openItems > 0) { $('.btn-group-justified button').attr('disabled', false); }
});

$('.collapse').on('hide.bs.collapse', function () {
  var checked = $(this).find("[type='checkbox']:checked").length;
  if (checked > 0) { return false; }
  $(this).parent().find(".country-header").find("i").removeClass("fa-minus").addClass("fa-plus");
});

$('.collapse').on('hidden.bs.collapse', function () {
  var openItems = $('.collapse.in').length;
  if (openItems == 0) { $('.btn-group-justified button').attr('disabled', true); }
});
</script>

