<div class='row'>
  <div class='col-md-12'>
    <div class='form-group'>
      <%= label_tag("dataset-language-picker".to_sym, "Language: ", class: 'i18nable-label', data: { type: 'Language' }) %>
      <%= select_tag("dataset-language-picker".to_sym, options_for_select(select_options(@metadata.fetch(:languages).keys), 'None'), class: "filter filter-language form-control") %>
    </div>
  </div>
</div>
<%= render partial: 'select_box_filter', locals: {
  type: 'indicators',
  label_value: 'Indicators',
  grouped: true } %>
<%= render partial: 'select_box_filter', locals: {
  type: 'disaggregators',
  label_value: 'Break down data by',
  grouped: false } %>
<%= render partial: 'data_series_limiters' %>
<%= render partial: 'data_series' %>
<div class='row'>
  <div class='col-md-8'>
    <%= render partial: 'chart_type_buttons' %>
  </div>
  <div class='col-md-4'>
    <%= render partial: 'overtime_checkbox' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-4'>
    <%= render partial: 'black_and_white_button' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class='row'>
      <div class='col-md-3'>
        <%= button_tag(type: :button, id: "download-csv", class: 'btn btn-success btn-block btn-lg', disabled: true) do %>
          <i class='fa fa-download'></i>
        <% end %>
      </div>
      <div class='col-md-9'>
        <%= button_tag(type: :button, id: "submit-chart-filters", class: 'submit-chart btn btn-success btn-block btn-lg', disabled: true) do %>
          <i class='fa fa-bar-chart'></i>
          <span class='i18nable-label' data-type='Chart'>Chart</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
