<div class='row'>
  <div class='col-md-12'>
    <div class='data-series'>
      <% @metadata.fetch(:rounds_by_country, {}).each do |country, date_round| %>
        <% nice_country_name = country.titleize %>
        <div class='row'>
          <div class='col-md-12'>
            <div class='country-header' data-toggle="collapse" href="#collapse-<%= country.parameterize %>" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa fa-plus"></i>
              <b class='i18nable' data-value='<%= nice_country_name %>'><%= nice_country_name %></b>
            </div>
            <div class='date-selection collapse' id="collapse-<%= country.parameterize %>">
              <% date_round.each do |date, round| %>
                <% year = date.split('-').first %>
                <div>
                  <% data_attributes = { country: country, date: date, round: round } %>
                  <%= check_box("country_round", "#{country}-#{year}-#{round}", { class: 'filter year-check', data: data_attributes } ) %> 
                  <%= year %> - <%= round %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
