<div class='container'>
  <div>
    <% flash.each do |key, value| %>
      <div class='alert alert-info'>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= value %>
      </div>
    <% end %>
    <ul>
      <% @dataset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

  <h1>Datasets</h1>

  <div class='row'>
    <div class='col-md-12'>
      <h3>Upload New Dataset</h3>
      <%= form_for(@dataset, class: 'form-inline') do |form| %>
        <div class="form-group">
          <%= label(:dataset, :name) %>
          <%= form.text_field(:name, class: 'form-control') %>
        </div>

        <div class="form-group">
          <%= label(:dataset, :csv_file) %>
          <%= form.attachment_field(:csv_file) %>
        </div>

        <div class="form-group">
          <%= label(:dataset, :help_file) %>
          <%= form.attachment_field(:help_file) %>
        </div>

        <%= submit_tag "Save dataset", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <h3>Current Datasets</h3>

      <% if @datasets.empty? %>
        No datasets. Upload the first one!
      <% else %>
        <% @datasets.order(created_at: :desc).each do |dataset| %>
          <div class='row'>
            <div class='col-md-2'>
              <span><%= dataset.created_at %></span>
            </div>
            <div class='col-md-7'>
              <% if dataset.active %>
                <span class='label label-success'>Active</span>
              <% end %>
              <%= link_to(dataset_path(dataset), class: 'btn btn-link') do %>
                <strong><%= dataset.name %></strong>
              <% end %>
            </div>
            <% unless dataset.active %>
              <div class='col-md-2 text-center'>
                <%= link_to("Make Active", activate_dataset_path(dataset), class: 'btn btn-link') %>
              </div>
              <div class='col-md-1 text-center'>
                <%= button_to("Delete", dataset_path(dataset), method: :delete, class: 'btn btn-link', data: { confirm: 'Are you sure you want to delete this dataset?' }) %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <br/>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79130754-2', 'auto');
  ga('send', 'pageview');

</script>
</div>
