Datasets
<div>
  <% flash.each do |key, value| %>
    <%= value %>
  <% end %>
  <ul>
    <% @dataset.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<%= form_for @dataset do |form| %>
  <%= label(:dataset, :name) %>
  <%= form.text_field :name %>

  <%= label(:dataset, :csv_file) %>
  <%= form.attachment_field :csv_file %>

  <%= submit_tag "Save dataset" %>
<% end %>

<h3>Current Datasets</h3>

<ul>
  <% if @datasets.empty? %>
    No datasets. Upload the first one!
  <% else %>
    <% @datasets.each do |dataset| %>
      <li>
        Name: <%= dataset.name %>
        Uploaded at: <%= dataset.created_at %>
        <%= link_to("View", dataset_path(dataset)) %>
        <%= link_to("Delete", dataset_path(dataset), method: :delete) %>
      </li>
    <% end %>
  <% end %>
</ul>
