<h1>Datasets</h1>

<div>
  <% flash.each do |key, value| %>
    <%= value %>
  <% end %>
  <ul>
    <% @dataset.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>

<section class="new-dataset">
  <h3>Upload New Dataset</h3>
  <%= form_for @dataset do |form| %>
    <p>
      <%= label(:dataset, :name) %>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= label(:dataset, :csv_file) %>
      <%= form.attachment_field :csv_file %>
    </p>

    <p>
      <%= label(:dataset, :help_file) %>
      <%= form.attachment_field :help_file %>
    </p>

    <p><%= submit_tag "Save dataset" %></p>
  <% end %>
</section>

<section class="current-datasets">
  <h3>Current Datasets</h3>

  <ul>
    <% if @datasets.empty? %>
      No datasets. Upload the first one!
    <% else %>
      <% @datasets.each do |dataset| %>
        <li>
          <p>
            <strong><%= dataset.name %></strong>
            <span><%= dataset.created_at %></span>
          </p>
          <p>
            <%= link_to("View", dataset_path(dataset)) %>
            <%= link_to("Delete", dataset_path(dataset), method: :delete) %>
          </p>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
