<!DOCTYPE html>
<html>
<head>
  <title>PMA DataLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', type: 'text/css', 'https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<%= render partial: 'layouts/header' %>
<%= render partial: 'layouts/navigation' %>
<body>
<%= yield %>
</body>
<%= render partial: 'layouts/footer' %>
</html>
